/* .testimonialcard-container {
  border: 1px solid black;
  width: 300px;
} */

.each-slide {
  /* border: 1px solid black; */
  background-size: auto;
  background-color: white;
  width: 20vw;
  margin: 0 auto;
  padding: 3% 2%;
  box-shadow: 0 -10px 20px 0 rgba(249, 131, 171, 0.2);
  min-height: 12vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.each-slide h2 {
  font-weight: 900;
  font-size: 2em;
  /* padding: 2.5% 0; */
}

.each-slide h6 {
  font-size: 1em;
  font-weight: normal;
  letter-spacing: -0.43px;
  padding-top: 5%;
  /* margin: 2.5% 0; */
}

.react-slideshow-container {
  position: relative;
  margin-top: -135px;
  margin-bottom: -90px;
}
